.Categories {
  width: 100%;
  padding: 2rem;
  height: 100%;
  background-color: rgba(214, 222, 228, 0.2);
  .CategoriesPageContainer {
    margin: 0 auto;
    padding: 1rem;
    width: 95%;
    height: 100%;
    // border: 2px solid green;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 2.2rem;
    row-gap: 2rem;
    justify-items: center;
    align-items: center;
    .CategoriesPack {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1219px) {
  .Categories {
    .CategoriesPageContainer {
      grid-template-columns: repeat(3, 1fr);
      .CategoriesPack {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 895px) {
  .Categories {
    .CategoriesPageContainer {
      grid-template-columns: repeat(2, 1fr);
      .CategoriesPack {
        width: 100%;
      }
    }
  }
}
