.categoryNav {
  width: 100%;
  // border: 1px solid black;
  // background-color: black;
  padding: 0.3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  .categoryNavContainer {
    margin: 0 auto;
    width: 80%;
    background-color: rgb(85, 93, 107);
    border-radius: 2rem;
    .navbarCategoryLinks {
      width: 80%;
      padding: 1rem;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      justify-items: center;
      align-items: center;

      li {
        list-style: none;
        a {
          font-family: 'Roboto', sans-serif;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 1195px) {
  .categoryNav {
    display: none;
  }
}
