.ProductInfo {
  width: 100%;
  min-height: 40em;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(40, 41, 41, 0.05);

  .ProductInfoContainerHolder {
    width: 100%;
    min-height: 40em;
    height: 100%;
    padding: 0.5rem;

    .ProductInfoContainer {
      margin: 0 auto;
      padding: 1rem;
      width: 100%;
      height: 100%;
      // background-color: rgba(40, 41, 41, 0.05);
      // border: 2px solid red;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      column-gap: 0.5rem;

      .ProductImages {
        margin: 0 auto;
        height: 100%;
        width: 70%;
      }
      .ProductText {
        width: 100%;
        padding: 1rem;

        div {
          padding: 0.5rem;
          // border: 2px solid yellow;
          h1 {
            text-align: left;
            font-size: 2rem;
          }
          .prodPrice {
            color: red;
          }
          button {
            width: 70%;
            font-size: 1.3rem;
            color: white;
            height: 4rem;
            border-radius: 15%;
            margin-left: -10rem;
            background-color: rgb(185, 144, 83);
          }
          .prodDescriptionFeature {
            text-align: left;
          }
          .descriptionUl {
            padding: 0.5rem;
            list-style: none;
            li {
              text-align: Left;
            }
          }
          h3 {
            text-align: Left;
          }
        }
        .quantity {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          .quantityPTag {
            p {
              font-weight: bold;
              font-size: 1.2rem;
            }
          }
        }
        .prodDescriptions {
          border-bottom: 1px solid rgba(33, 33, 33, 0.4);
          .prodDescriptionFeatureHeader {
            border-bottom: 1px solid rgba(33, 33, 33, 0.4);
          }
        }
        .Prodbrand {
          border-top: 1px solid rgba(33, 33, 33, 0.4);
          border-bottom: 1px solid rgba(33, 33, 33, 0.4);
          .ProdbrandName {
            width: 100%;
          }
          .ProdbrandInfo {
            width: 100%;

            p {
              text-align: left;
              span {
                font-size: 1rem;
              }
            }
          }
          .ProddimensionProdtype {
            width: 100%;
            border-right: 1px solid rgba(33, 33, 33, 0.4);
            .prodDimension {
              font-weight: bold;
              text-align: right;
            }
          }
          .ProddimensionProddimension {
            width: 36em;
            font-size: 1rem;
            p {
              text-align: left;
            }
          }
        }

        .ProdDimenss {
          border: 1px solid rgba(33, 33, 33, 0.4);
          .ProdDimenssHeader {
            border-bottom: 1px solid rgba(33, 33, 33, 0.4);
          }

          .noBorder {
            border: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1676px) {
  .ProductInfo {
    .ProductInfoContainerHolder {
      .ProductInfoContainer {
        .ProductImages {
          width: 80%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1440) {
  .ProductInfo {
    .ProductInfoContainerHolder {
      .ProductInfoContainer {
        .ProductImages {
          margin: 0;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1195px) {
  .ProductInfo {
    .ProductInfoContainerHolder {
      .ProductInfoContainer {
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

@media only screen and (max-width: 858px) {
  .ProductInfo {
    .ProductInfoContainerHolder {
      .ProductInfoContainer {
        width: 100%;
        .ProductImages {
          // border: 2px solid green;
          width: 100%;
          height: 30rem;

          div {
            img {
              height: 28rem;
            }
          }
        }
        .ProductText {
          width: 100%;
          margin-left: 0;
          button {
            margin-left: 0;
          }
        }
      }
    }
  }
}
